<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./Tests/bootstrap.php"
         colors="true">
    <testsuites>
        <testsuite>
            <directory>Tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>Paginator</directory>
            <directory>Pagination</directory>
            <directory>Factory</directory>
            <directory>Representation</directory>
            <directory>Event</directory>
            <exclude>
                <directory suffix="Interface.php">.</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>